<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="src/js.js"></script>
    <script src="src/angular-validation-rules.js"></script>
    <script src="src/angular-validation-directive.js"></script>
</head>
<body ng-app="myapp">
    <div>
        <label>URL</label>
        <input 
            type="text" 
            ng-model="url" 
            dao-valid
            dao-valid-toggle="URLIsValid"
            dao-valid-rule="notEmpty,url"
            dao-valid-name="URL"
            placeholder="http://www.google.com" 
            autofocus>
    </div>
    <div>
        <label>IP address</label>
        <input 
            type="text" 
            ng-model="ip" 
            dao-valid
            dao-valid-toggle="IPIsValid"
            dao-valid-rule="notEmpty,ipv4"
            dao-valid-name="IP address"
            placeholder="192.168.1.1" 
            autofocus>
    </div>
    <button
        ng-disabled="!URLIsValid">
        Submit URL
    </button>
    <button
        ng-disabled="!IPIsValid">
        Submit IP
    </button>
</body>
</html>